<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WS_Username" value=""/>
    <add key="WS_Password" value=""/>
    <add key="WS_ReceiverPartyIdentifier" value=""/>
    <add key="WS_TransactionUUID" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSSkTransactionSoapHttp">
                    <security mode="Transport" />
                </binding>
                <binding name="WSSkTransactionSoapHttp1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WSSkTransactionSoapHttp11">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.inexchange.is/outgoinginvoices/sksk.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSSkTransactionSoapHttp"
                contract="FROMInExServiceReference.WSSkTransactionSoapHttp"
                name="WSSkTransactionSoapHttp" />
        </client>
    </system.serviceModel>
</configuration>